<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>widgets</mat-icon></button>
      <div class="container text-end"><span *ngIf="users.userToken">User Connected: {{users.userConnected}}</span></div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a class="links" mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav"><mat-icon>{{nav.icon}}</mat-icon>{{nav.name}}</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
