.mat-column-colabs{
    width: 10%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }

  .mat-column-description{
    width: 30%;
    text-align: start;
    text-justify: auto;
    padding: 15px;
  }

  .mat-column-excerpt{
    width: 30%;
    text-align: start;
    text-justify: auto;
    padding: 15px;
  }

  .mat-column-publishDate{
    width: 10%;
    text-align: center;
    text-justify: auto;
    padding: 15px;
  }

  .mat-column-pageCount{
    width: 10%;
    text-align: center;
    text-justify: auto;
    padding: 15px;
  }

  .mat-column-title{
    width: 10%;
    text-align: center;
    text-justify: auto;
    padding: 15px;
    background: rgb(233, 232, 232);
  }

  
